@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
.--mid-active,
.--sm-active {
  display: none;
}

@media (max-width: 900px) {
  .--mid-active {
    display: block;
  }
  .--mid-inactive {
    display: none;
  }
}
@media (max-width: 600px) {
  .--sm-active {
    display: block;
  }
  .--sm-inactive {
    display: none;
  }
}
.--mid-active,
.--sm-active {
  display: none;
}

@media (max-width: 900px) {
  .--mid-active {
    display: block;
  }
  .--mid-inactive {
    display: none;
  }
}
@media (max-width: 600px) {
  .--sm-active {
    display: block;
  }
  .--sm-inactive {
    display: none;
  }
}
.searchbar {
  width: 55%;
  min-width: 180px;
  height: max(2.41em, 3.01vw);
  background: rgba(238, 248, 255, 0.64);
  border-radius: 14px;
  display: flex;
  padding-left: max(10px, 1.43vw);
  padding-right: max(10px, 1.2vw);
  align-items: center;
  overflow: hidden;
}
.searchbar.dropList {
  grid-column-start: 2;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.searchbar.dropList .searchbar__dropCont {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(238, 248, 255, 0.64);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(20px);
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
.searchbar.dropList .searchbar__dropCont .customScrollbar {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 11px;
  border-radius: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  /* z-index: 50; */
}
.searchbar.dropList .searchbar__dropCont .customScrollTrack {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
.searchbar.dropList .searchbar__dropCont .customScrollThumb {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 20px;
}
.searchbar.dropList .searchbar__dropCont .customScrollbar {
  width: 0.5vw;
  left: 99%;
  max-height: 98%;
  background: rgba(255, 255, 255, 0.74);
}
.searchbar.dropList .searchbar__dropCont .customScrollThumb {
  background: rgba(85, 179, 210, 0.5);
}
.searchbar__icon {
  height: 46.55%;
  box-sizing: content-box;
  flex-shrink: 0;
  fill: transparent;
}
.searchbar__input {
  width: 100%;
  height: 100%;
  margin-left: max(7px, 2.14vw);
  border: none;
  outline: none;
  background-color: transparent;
  font-size: clamp(0.8em, 1.24vw, 1.9em);
  font-weight: 200;
  color: #55B3D2;
}
.searchbar__input::-moz-placeholder {
  color: #55B3D2;
}
.searchbar__input:-ms-input-placeholder {
  color: #55B3D2;
}
.searchbar__input::placeholder {
  color: #55B3D2;
}
.searchbar__cross {
  height: 27%;
}
.searchbar__cross:hover {
  cursor: pointer;
}
.searchbar__dropCont {
  display: none;
  grid-column-start: 2;
  position: absolute;
  width: 100%;
  top: max(2.41em, 3.01vw);
  left: 0;
  z-index: 10;
}
.searchbar__drop {
  width: 100%;
  max-height: 45vh;
  min-height: 70%;
  padding-top: max(10px, 1.95vw);
  border-top: 1px solid #55B3D2;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.searchbar__drop::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.searchResult {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 0 max(7px, 1.36vw);
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 0 auto max(15px, 3.77vw);
  border-radius: 0.95vw;
  background-color: rgba(255, 255, 255, 0.42);
  transform: translateY(0);
  transition: transform 0.1s;
}
.searchResult:hover {
  cursor: pointer;
  transform: translateY(-8%);
  transition: all 0.2s;
}
.searchResult:hover img {
  transform: translateY(-32%);
  transition: all 0.3s 0.1s;
}
.searchResult__img {
  position: relative;
  min-width: 22px;
  min-height: 33px;
  width: 2.53vw;
  height: 3.77vw;
  margin-right: max(7px, 1.3vw);
  transform: translateY(-25%);
  transition: transform 0.6s;
}
.searchResult__title {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: max(8px, 1.04vw) 0;
  font-size: clamp(0.6em, 1.17vw, 1.7em);
}

.cartBtn {
  position: relative;
  min-width: 34px;
  width: max(2.13em, 2.53vw);
  height: max(2.13em, 2.53vw);
  background: #FCFAFA;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #CCE7FF, 0 0 0 4px #FCFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.1em;
  margin-left: 20px;
}
.cartBtn__count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-width: 35%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 35%;
  padding: 1px;
  box-sizing: content-box;
  border-radius: 50%;
  font-size: max(60%, 0.65vw);
  text-align: center;
  top: 5%;
  left: 75%;
}

.cartBtn.burgerMenu {
  display: none;
}

.cartIcon.cartBtn {
  box-shadow: 0 0 0 2px #CCE7FF, 0 0 0 4px #FCFAFA;
}
.cartIcon.cartBtn .cartBtn__count {
  background-color: #35C0EE;
}
.cartIcon.cartBtn .cartBtn__icon {
  width: 60%;
  height: 60%;
  padding-top: 8%;
}

.cartBtn.wishlistIcon {
  box-shadow: 0 0 0 2px #fac6d1, 0 0 0 4px #FCFAFA;
}
.cartBtn.wishlistIcon .cartBtn__count {
  background-color: #fa6688;
}
.cartBtn.wishlistIcon .cartBtn__icon {
  width: 80%;
  height: 55%;
}

.toggleBtn {
  position: relative;
  padding: 0 2px;
  display: flex;
  align-items: center;
}
.toggleBtn__switcher {
  position: absolute;
  width: 47%;
  height: 85%;
  border-radius: 50%;
  right: 2%;
  transition: all 0.4s;
}

.shopButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13%;
  width: 85px;
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(84.29deg, rgba(254, 254, 254, 0.95) 6.11%, #97D5F7 98.23%);
  box-shadow: 2px 2px 4px rgba(145, 140, 140, 0.4);
  border-radius: 50px;
  transform: scale(1);
  transition: transform 2s;
}
.shopButton__cart, .shopButton__wishlist {
  position: relative;
  padding-top: 1px;
  width: 23.5%;
  height: 72.5%;
}
.shopButton__cart:hover, .shopButton__wishlist:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}
.shopButton__cart__btn, .shopButton__wishlist__btn {
  width: 100%;
  height: 100%;
}
.shopButton__cart.inactive > .shopButton__check, .shopButton__wishlist.inactive > .shopButton__check {
  display: none;
}
.shopButton__wishlist > .shopButton__btn {
  fill: #F8305F;
}
.shopButton__wishlist > .shopButton__check > path:nth-child(2) {
  stroke: #F8305F;
}
.shopButton__cart > .shopButton__check > path:nth-child(2) {
  stroke: #35C0EE;
}
.shopButton hr {
  height: 80%;
  border: none;
  border-left: 2px solid #55B3D2;
}
.shopButton__check {
  position: absolute;
  width: 45.45%;
  top: 5%;
  left: 75%;
}

.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  width: 2.66vw;
  height: 2.66vw;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}
.backBtn svg {
  width: 58.93%;
  height: 39.78%;
}
.backBtn:hover {
  cursor: pointer;
}
.backBtn:hover svg {
  transform: translateX(-5%);
  transition: all 0.5s;
}

.backTabCont {
  position: absolute;
  display: none;
  align-items: center;
  top: 14%;
  left: 0;
  min-width: 20px;
  min-height: 120px;
  width: 3vw;
  height: 25.5vw;
  max-width: 27px;
  overflow: hidden;
}
.backTabCont .backTab {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: white;
  border-top-right-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 13px;
}
.backTabCont .backTab::before {
  content: "";
  position: absolute;
  top: 3.8%;
  /* bottom: 100%; */
  left: -2px;
  width: 190%;
  height: 110%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 3;
  box-shadow: -20px 20px 0 white;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 48% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 48% 100%, 0% 100%);
  transform: translateY(-100%);
}
.backTabCont .backTab::after {
  content: "";
  position: absolute;
  top: 97%;
  left: -2px;
  width: 180%;
  height: 110%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 3;
  box-shadow: -20px -20px 0 white;
  -webkit-clip-path: polygon(0% 0%, 48% 0%, 48% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 48% 0%, 48% 100%, 0% 100%);
}
.backTabCont .backTab:hover {
  cursor: pointer;
}
.backTabCont .backTab:hover svg {
  transform: translateX(-3px);
  transition: all 0.5s ease-out;
}
.backTabCont .backTab svg {
  stroke: #35C0EE;
  width: 50%;
  height: 21%;
  transition: all 0.2s;
}

.modal {
  display: none;
  position: absolute;
  opacity: 0;
  right: 3%;
  bottom: 3%;
  width: 180px;
  padding: 1em 2em;
  text-align: center;
  color: #4B5053;
  font-size: 0.75em;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 10px;
  -webkit-animation: animateModal 5s;
          animation: animateModal 5s;
}

@-webkit-keyframes rotateCross {
  100% {
    transform: rotateZ(90deg);
  }
}

@keyframes rotateCross {
  100% {
    transform: rotateZ(90deg);
  }
}
@-webkit-keyframes animateModal {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animateModal {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1024px) {
  .searchbar {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .searchbar {
    flex-grow: 1;
  }
  .cartBtn {
    display: none;
  }
  .cartBtn.burgerMenu {
    display: flex;
  }
  .cartBtn.burgerMenu:hover {
    cursor: pointer;
  }
}
@media (max-width: 468px) {
  .backBtn {
    display: none;
  }
  .backTabCont {
    display: flex;
  }
}
.--mid-active,
.--sm-active {
  display: none;
}

@media (max-width: 900px) {
  .--mid-active {
    display: block;
  }
  .--mid-inactive {
    display: none;
  }
}
@media (max-width: 600px) {
  .--sm-active {
    display: block;
  }
  .--sm-inactive {
    display: none;
  }
}
.bookshelf {
  width: 93%;
  padding-top: max(10px, 3vw);
}
.bookshelf__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.21rem;
  font-weight: 600;
  padding: 0.36em 1.2em;
  background: #ffffff;
  color: rgba(40, 34, 34, 0.9137254902);
  box-shadow: 8px 8px 30px rgba(175, 191, 198, 0.3);
  border-radius: 0.66em;
  margin-bottom: 1.75em;
}
.bookshelf__rowCont {
  position: relative;
}
.bookshelf__row {
  position: relative;
  margin-bottom: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: max(40px, 4.62vh);
  overflow: hidden;
}
.bookshelf__row__leftArrow, .bookshelf__row__rightArrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 35%;
  width: max(33px, 1.96vw);
  height: max(33px, 1.96vw);
  background: #F4FDFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 3px 4px 4px rgba(249, 233, 233, 0.125);
}
.bookshelf__row__leftArrow > svg, .bookshelf__row__rightArrow > svg {
  width: 27%;
  transform: translateX(-25%);
}
.bookshelf__row__leftArrow.inactive, .bookshelf__row__rightArrow.inactive {
  display: none;
}
.bookshelf__row__leftArrow:hover, .bookshelf__row__rightArrow:hover {
  cursor: pointer;
}
.bookshelf__row__leftArrow {
  border-right: 30% solid green;
  left: 0;
  transform: translateX(-50%);
}
.bookshelf__row__rightArrow {
  right: 0;
  transform: translateX(50%) rotateY(180deg);
}
.bookshelf__cardsCont {
  display: flex;
  flex-shrink: 0;
  gap: 6rem;
  max-width: 100%;
  overflow: auto;
  padding: 0.2rem 0.8rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.bookshelf__cardsCont::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.bookshelf__cardCont {
  flex-grow: 0;
  min-width: 184px;
  width: 21.3vh;
}

.card {
  position: relative;
  min-width: 184px;
  min-height: 255px;
  height: 1.66vw;
  width: 1.19vw;
  margin-bottom: 12px;
  background: #F7FDFF;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 1px 2px 4px rgba(60, 49, 49, 0.1);
  border: 1px solid #FFFFFF;
  border-radius: 40px;
}
.card__face {
  display: block;
  -webkit-animation: showCardFace 0.8s forwards;
          animation: showCardFace 0.8s forwards;
}
.card__back {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  background: linear-gradient(159.98deg, #FFFFFF 8.66%, rgba(255, 255, 255, 0.3) 93.39%);
  border: 1px solid #FFFFFF;
  overflow: hidden;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
}
.card__face, .card__back {
  width: 100%;
  padding: 13% 13% 14.5%;
  height: 100%;
  min-height: 100%;
  border-radius: 40px;
  overflow-y: hidden;
}
.card__imageCont {
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.card__image {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.card__title {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #4B5053;
}
.card__author {
  font-size: clamp(14px, 1.04vw, 1.5em);
  color: #55B3D2;
  text-align: center;
}
.card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  font-size: clamp(13px, 0.94vw, 1.5em);
  max-height: 60%;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.card .shopButton {
  z-index: 3;
  left: -20px;
  top: 9%;
  transition: all 0.3s;
}
.card:hover .card__face {
  display: none;
}
.card:hover .card__back {
  display: flex;
  -webkit-animation: showCardBack 0.9s forwards;
          animation: showCardBack 0.9s forwards;
}
.card:hover .shopButton {
  left: 50%;
  top: 85%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
  transform: translateX(-50%);
  transition: all 0.8s;
}

@-webkit-keyframes showCardBack {
  100% {
    -webkit-clip-path: circle(200% at 100% 100%);
            clip-path: circle(200% at 100% 100%);
  }
}

@keyframes showCardBack {
  100% {
    -webkit-clip-path: circle(200% at 100% 100%);
            clip-path: circle(200% at 100% 100%);
  }
}
@-webkit-keyframes showCardFace {
  0% {
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
  }
  100% {
    -webkit-clip-path: circle(200% at 0% 0%);
            clip-path: circle(200% at 0% 0%);
  }
}
@keyframes showCardFace {
  0% {
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
  }
  100% {
    -webkit-clip-path: circle(200% at 0% 0%);
            clip-path: circle(200% at 0% 0%);
  }
}
/*

 &__title {
     width: fit-content;
     font-size: clamp(1.05rem, 1.21rem, 1.5rem);
     font-weight: 600;
     padding: 0.36em 1.20em;
     background: #EEF8FF;
     color: #282222e9;
     box-shadow: 4px 4px 30px rgba(168, 222, 245, 0.3);
     border-radius: 0.66em;
     margin-bottom: 1.75em;
 }

 &__row {
     display: flex;
     margin-bottom: 1rem;
     height: fit-content;
     gap: 6rem;
 }


 &__cardCont {
     flex-shrink: 0;
     position: relative;
     min-width: 200px;
     width: clamp(200px, 11vh, 230px);
     max-width: 230px;
     max-height: fit-content;
     border-radius: 35px;
 }

 }

 .card {
     width: 100%;
     min-height: min(280px, 29.62vh);
     height: clamp(280px, 27vh, 320px);
     overflow: hidden;
     padding: 29px 29px 33px;

     background: rgba(255, 255, 255, 0.05);
     border: 1px solid #FFFFFF;
     box-shadow: 3px 4px 4px rgba(125, 141, 145, 0.1);
     border-radius: 50px;

     &__face {
         width: 100%;
         height: fit-content;
     }

     &__imageCont {
         height: fit-content;
         max-height: 100%;
         border-radius: 10px;
         overflow: hidden;
     }

     &__image {
         // width: 170px;
         // height: 256px;
         width: 100%;
         max-height: 100%;
     }
 }
*/
.--mid-active,
.--sm-active {
  display: none;
}

@media (max-width: 900px) {
  .--mid-active {
    display: block;
  }
  .--mid-inactive {
    display: none;
  }
}
@media (max-width: 600px) {
  .--sm-active {
    display: block;
  }
  .--sm-inactive {
    display: none;
  }
}
.bookDetails__generalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: max(10px, 1.82vw);
  flex-wrap: wrap;
}
.bookDetails__thumbnail {
  min-width: 170px;
  width: 11.9vw;
  min-height: 257px;
  height: 17.25vw;
  border-radius: max(2.08vh, 12px);
  overflow: hidden;
}
.bookDetails__thumbnail img {
  width: 100%;
  height: 100%;
}
.bookDetails__cartButtons {
  flex: 1 1 25%;
  max-width: 80%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  padding: max(13px, 2.21vw) max(10px, 1.5vw);
}
.bookDetails__cartButton {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  min-height: 39px;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.5em;
  white-space: nowrap;
  padding: max(0.4em, 0.48vw) max(1em, 1.2vw);
  margin-bottom: max(10px, 1.5vw);
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(61, 164, 238, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 20px;
  transform: translateY(0);
  transition: transform 0.15s;
}
.bookDetails__cartButton .--cart-color {
  color: #15BDF4;
}
.bookDetails__cartButton .--heart-color {
  color: rgba(248, 48, 95, 0.58);
}
.bookDetails__cartButton .--delivery-color {
  color: #BBAAFF;
}
.bookDetails__cartButton__iconCont {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: max(1.4em, 1.8vw);
  height: max(1.4em, 1.8vw);
  padding: 0.2em;
}
.bookDetails__cartButton__iconCont.--cart-color {
  background: #15BDF4;
  box-shadow: 0px 0px 30px 3px rgba(117, 195, 239, 0.33);
}
.bookDetails__cartButton__iconCont.--heart-color {
  background: rgba(248, 48, 95, 0.58);
  box-shadow: 0px 0px 30px 3px rgba(251, 135, 162, 0.31);
}
.bookDetails__cartButton.inactive .--delivery-color {
  color: #a9b2b6;
}
.bookDetails__cartButton.inactive .toggleBtn {
  background-color: #dedede;
  border-color: #dedede;
  transition: all 0.5s;
}
.bookDetails__cartButton.inactive .toggleBtn__switcher {
  background-color: #f7f7f7;
  right: 52%;
  transition: all 0.5s;
}
.bookDetails__cartButton__icon {
  width: 75%;
  height: 75%;
  fill: white;
}
.bookDetails__cartButton .heartIcon {
  margin-top: 5%;
  width: 65%;
  height: 65%;
}
.bookDetails__cartButton .cartIcon {
  margin-right: 3%;
  margin-top: 5%;
}
.bookDetails__cartButton > a {
  font-size: clamp(0.8em, 1.07vw, 1.8em);
}
.bookDetails__cartButton:nth-child(3) {
  margin-bottom: 0;
}
.bookDetails__cartButton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.3s;
}
.bookDetails .toggleBtn {
  width: max(1.5em, 2.27vw);
  height: max(0.8em, 1.1vw);
  margin: 0.15vw 0;
  background: #BBAAFF;
  border: 1px solid #B7E5FF;
  box-shadow: 2px 2px 4px rgba(129, 128, 128, 0.25);
  border-radius: 15px;
}
.bookDetails .toggleBtn__switcher {
  background: #FFFFFF;
  box-shadow: inset 2px 2px 4px rgba(111, 186, 255, 0.25);
}
.bookDetails__detailsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.2196078431);
  box-shadow: 1px 2px 4px rgba(60, 49, 49, 0.1);
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  padding: 1em max(7px, 2.53vw);
  margin: max(20px, 3.5vw) auto;
}
.bookDetails .customScrollbar {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 11px;
  border-radius: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  /* z-index: 50; */
}
.bookDetails .customScrollTrack {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
.bookDetails .customScrollThumb {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 20px;
}
.bookDetails .customScrollbar {
  background-color: rgb(208, 226, 226);
  border: 1px solid rgba(211, 211, 211, 0.308);
}
.bookDetails .customScrollThumb {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 1px 0px 2px rgba(188, 181, 181, 0.164);
}

.description {
  background: #FFFFFF;
  border-radius: max(30px, 3.47vh);
  padding: 1.375em 1.8em;
  min-width: 240px;
  flex: 1 1 55%;
}
.description__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.description__title__text {
  font-weight: 600;
  font-size: clamp(1.25em, 1.56vw, 2.3em);
  align-self: center;
  color: #4B5053;
  margin-bottom: max(7px, 0.45vw);
}
.description__title__availability {
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(61, 164, 238, 0.25);
  border-radius: max(20px, 1.3vw);
  font-size: clamp(1em, 1.04vw, 2em);
  font-weight: 600;
  color: #34D186;
  padding: 0.43em 1.06em;
  text-align: center;
  margin-bottom: max(7px, 0.45vw);
}
.description__title__availability svg {
  height: clamp(1em, 1.04vw, 2em);
  stroke: #34D186;
}
.description__author {
  color: #55B3D2;
  font-size: clamp(1em, 1.1vw, 1.8em);
  font-weight: 400;
}
.description__rating {
  margin-top: 3px;
  margin-bottom: max(18px, 1.17vw);
}
.description__rating__star {
  height: max(19px, 1.23vw);
  fill: #C6DEFF;
}
.description__rating__star.empty {
  fill: #dfeaf3;
}
.description__text {
  font-size: clamp(1em, 1.04vw, 1.6em);
  line-height: 1.18em;
  max-height: 125px;
  border-radius: 10px;
  overflow: auto;
}
.description__text.scrollable {
  padding-right: 15px;
}
.description__cartOptions {
  display: flex;
  justify-content: space-around;
  margin-top: max(21px, 1.36vw);
  width: 100%;
  flex-wrap: wrap;
}
.description__cartOptions .cartOption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 3px;
  background: rgba(75, 190, 255, 0.06);
  box-shadow: 2px 2px 4px rgba(147, 145, 145, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0.56em 0.68em;
  margin-bottom: 7px;
  border-radius: max(10px, 0.65vw);
  border: 1px solid transparent;
  transform: translateY(0);
  transition: transform 0.15s, box-shadow 0.15s;
  box-sizing: border-box;
}
.description__cartOptions .cartOption__type {
  font-weight: 300;
  font-size: clamp(13px, 0.84vw, 1.5em);
  line-height: 1em;
  color: #4B5053;
}
.description__cartOptions .cartOption__price {
  font-weight: 600;
  font-size: clamp(12px, 0.78vw, 1.2em);
  line-height: 1em;
  color: #55B3D2;
}
.description__cartOptions .cartOption.inactive {
  background: rgba(31, 44, 51, 0.13);
}
.description__cartOptions .cartOption.inactive:hover {
  cursor: default;
  background: rgba(31, 44, 51, 0.13);
  border: 1px solid transparent;
}
.description__cartOptions .cartOption.inactive .cartOption__type {
  color: rgba(75, 80, 83, 0.55);
}
.description__cartOptions .cartOption.inactive .cartOption__price {
  color: #83949A;
}
.description__cartOptions .cartOption:not(.inactive):hover {
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba(147, 145, 145, 0.25);
  transform: translateY(-2px);
  transition: all 0.3s;
}
.description__cartOptions .cartOption.selected {
  box-shadow: none;
  border: 1px solid #6486FD;
}
.description__cartOptions .cartOption.selected .cartOption__type {
  text-shadow: 0 0 0.01em #4B5053, 0 0 0.01em #4B5053;
}

.detailsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  min-width: 110px;
  background: #FFF9F9;
  border-radius: max(15px, min(2.6vw, 40px));
  padding: max(12px, 0.9vw) max(20px, 1.5vw);
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}
.detailsItem__title {
  font-size: clamp(0.8em, 0.9vw, 1.3em);
}
.detailsItem__icon {
  width: 40px;
  height: 30px;
}
.detailsItem__value {
  max-width: 100%;
  white-space: pre-line;
  font-size: clamp(0.7em, 0.72vw, 1.3em);
}

@media (max-width: 600px) {
  .description__title__availability {
    margin-bottom: 2.4vw;
  }
}
@media (max-width: 380px) {
  .bookDetails__cartButtons {
    max-width: 100%;
  }
  .bookDetails__cartButtons a {
    font-size: clamp(0.6em, 1.07vw, 1.8em);
  }
}
.--mid-active,
.--sm-active {
  display: none;
}

@media (max-width: 900px) {
  .--mid-active {
    display: block;
  }
  .--mid-inactive {
    display: none;
  }
}
@media (max-width: 600px) {
  .--sm-active {
    display: block;
  }
  .--sm-inactive {
    display: none;
  }
}
.content.cartPage, .content.wishlistPage {
  width: 100%;
}
.content.cartPage .backBtnCont, .content.wishlistPage .backBtnCont {
  position: absolute;
}

.cart {
  width: 45vw;
  height: 68vh;
  background: rgba(255, 242, 217, 0.21);
  border: 2px solid #FFFFFF;
  border-radius: max(15px, 1.95vw);
  margin: 5.4vw auto;
  padding: max(10px, 1.62vw) max(15px, 2.8vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart > div {
  display: flex;
  width: 100%;
}
.cart__header {
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.cart__title {
  font-size: clamp(13px, 1.56vw, 2em);
}
.cart__clearBtn {
  font-size: clamp(11px, 1.2vw, 1.7em);
  font-weight: 500;
  color: rgba(255, 47, 47, 0.9098039216);
}
.cart__clearBtn:hover {
  cursor: pointer;
}
.cart > .cart__content {
  flex-direction: column;
  width: 95%;
  height: 80%;
  max-height: 80%;
  gap: 40px;
  padding-top: max(25px, 2.2vw);
  overflow: auto;
  border-radius: max(10px, 1.2vw);
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cart > .cart__content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.cart > .cart__content .cart__content__empty {
  margin: 30% auto 0;
  font-weight: 400;
  font-size: clamp(0.7em, 1.31vw, 1.3em);
}
.cart__footer {
  justify-content: flex-end;
  margin-top: auto;
  font-size: clamp(11px, 1.15vw, 1.7em);
}
.cart__footer .cart__total {
  margin-left: 7px;
  font-weight: 600;
}
.cart__item {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  min-height: 36px;
  height: 5.33vw;
  padding: 0 max(9px, 1.3vw);
  background: rgba(255, 255, 255, 0.47);
  border-radius: max(11px, 1.3vw);
  font-size: 18px;
  transform: translateY(0);
  transition: transform 0.1s;
}
.cart__item:hover {
  cursor: pointer;
  transform: translateY(-8%);
  transition: all 0.2s;
}
.cart__item:hover img {
  transform: translateY(-7%);
  transition: all 0.3s 0.1s;
}
.cart__item__thumbnail {
  position: relative;
  display: block;
  width: 4.03vw;
  height: 6.18vw;
  top: -25%;
  border-radius: 7px;
  margin-right: 10px;
}
.cart__item__info {
  display: grid;
  grid-template-columns: 5fr repeat(3, 1fr) 0.5fr;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
}
.cart__item__info.--wishlist {
  grid-template-columns: 2.3fr 1fr -webkit-max-content 0.5fr;
  grid-template-columns: 2.3fr 1fr max-content 0.5fr;
}
.cart__item__info.--wishlist button:first-of-type {
  padding: max(3px, 0.5em) max(7px, 1em);
  background-color: rgba(255, 255, 255, 0.6941176471);
  border-radius: max(5px, 0.65vw);
  outline: none;
  border: none;
  font-size: clamp(7px, 1vw, 1.4em);
}
.cart__item__info.--wishlist button:first-of-type:hover {
  cursor: pointer;
  text-decoration: underline;
}
.cart__item__title {
  font-size: clamp(12px, 1.17vw, 1.6em);
  font-weight: 600;
}
.cart__item__type {
  font-size: clamp(11px, 1.04vw, 1.5em);
  font-weight: 300;
}
.cart__item__amount {
  font-size: clamp(9px, 0.91vw, 1.4em);
  font-weight: 500;
}
.cart__item__remove {
  width: 0.65vw;
  height: 0.26vw;
}
.cart__item__remove:hover {
  cursor: pointer;
}
.cart__item .iconBtn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__item .iconBtn:not([disabled]):hover {
  cursor: pointer;
}
.cart__item .iconBtn[disabled] svg {
  stroke: rgb(193, 190, 190);
}
.cart__item .iconBtn {
  max-height: 4px;
  justify-self: end;
}
.cart .customScrollbar {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 11px;
  border-radius: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  /* z-index: 50; */
}
.cart .customScrollTrack {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
.cart .customScrollThumb {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 20px;
}
.cart > .customScrollbar {
  width: 9px;
  left: 95%;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 50px;
  transform: translateX(0);
}
.cart .customScrollThumb {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 50px;
}

.quantityCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(10px, 0.91vw, 1.4em);
}
.quantityCounter svg {
  stroke: #3C3838;
}
.quantityCounter .iconBtn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 3px;
  box-sizing: content-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantityCounter .iconBtn:not([disabled]):hover {
  cursor: pointer;
}
.quantityCounter .iconBtn[disabled] svg {
  stroke: rgb(193, 190, 190);
}
.quantityCounter .iconBtn {
  max-height: 6px;
}
.quantityCounter__plus {
  min-width: 4px;
  min-height: 4px;
  width: 0.52vw;
  height: 0.52vw;
}
.quantityCounter__number {
  font-weight: 500;
  margin: 2px 0;
}
.quantityCounter__minus {
  min-width: 4px;
  min-width: 3.39px;
  width: 0.42vw;
  height: 4px;
}

@media (max-width: 928px) {
  .cart {
    width: 80%;
  }
  .cart__title {
    font-size: clamp(13px, 2.3vw, 1.5em);
  }
  .cart__clearBtn {
    font-size: clamp(11px, 2.1vw, 1.3em);
  }
  .cart__footer {
    font-size: clamp(11px, 1.9vw, 1.3em);
  }
  .cart__item {
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .cart__item__title {
    font-size: max(8px, 1.8vw);
  }
  .cart__item__type {
    font-size: max(7px, 1.5vw);
  }
  .cart__item .quantityCounter {
    font-size: max(7px, 1.4vw);
  }
  .cart__item .quantityCounter__plus {
    width: 0.8vw;
    height: 0.8vw;
  }
  .cart__item .quantityCounter__minus {
    width: 0.8vw;
  }
  .cart__item__amount {
    font-size: max(7px, 1.4vw);
  }
  .cart__item__remove {
    width: 1.91vw;
    height: 3px;
    padding: 0;
  }
}
@media (max-width: 550px) {
  .cart__item__thumbnail {
    width: 8.86vw;
    height: 12.97vw;
    margin-right: 10px;
  }
  .cart__item__info {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
  }
  .cart__item__info.--wishlist button:first-of-type {
    font-size: max(7px, 1.9vw);
    padding: max(1px, 0.5em) max(7px, 0.8em);
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .cart__item__info.--wishlist .cart__item__amount {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .cart__item__info.--wishlist .iconBtn {
    grid-column: 4/5;
  }
  .cart__item__title {
    grid-column: span 2;
    font-weight: 600;
    margin-right: 10px;
    font-size: max(8px, 2.3vw);
  }
  .cart__item__type {
    order: 3;
    font-size: max(7px, 2vw);
  }
  .cart__item .quantityCounter {
    font-size: max(7px, 1.8vw);
    flex-direction: row;
    order: 4;
  }
  .cart__item .quantityCounter__plus {
    width: 2vw;
    height: 2vw;
  }
  .cart__item .quantityCounter__number {
    margin: 0 5px;
  }
  .cart__item .quantityCounter__minus {
    width: 2vw;
  }
  .cart__item__amount {
    order: 5;
    font-size: max(7px, 1.9vw);
  }
}
@media (max-width: 320px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
  .cart {
    width: 95%;
  }
}
.skeleton {
  background-color: rgb(216, 224, 229);
  -webkit-animation: skeletonLoading 1s infinite alternate;
          animation: skeletonLoading 1s infinite alternate;
  border-radius: 10px;
  width: 100%;
}
.skeleton.--title {
  width: 85%;
  height: 30px;
  margin-bottom: 25px;
}
.skeleton.--line {
  height: 15px;
  margin-bottom: 10px;
}
.skeleton.--line.--small {
  width: 30%;
}
.skeleton.--line.--medium {
  width: 60%;
}
.skeleton.--image {
  height: 80%;
  width: 80%;
}
.skeleton.--button {
  height: 35px;
  margin-bottom: 10px;
}
.skeleton.--button.--small {
  width: 70px;
}
.skeleton.--button.--square {
  height: 80%;
  width: 40px;
}

@-webkit-keyframes skeletonLoading {
  0% {
    background-color: rgb(216, 224, 229);
  }
  100% {
    background-color: rgb(240, 243, 245);
  }
}

@keyframes skeletonLoading {
  0% {
    background-color: rgb(216, 224, 229);
  }
  100% {
    background-color: rgb(240, 243, 245);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
  background: url("../assets/Glassmorphism/gradient4.png") fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  width: 97%;
  height: 95%;
  background: rgba(255, 255, 255, 0.01);
  border: 3px solid #FFFFFF;
  border-radius: 50px;
  display: flex;
  padding: 2.8em 2em;
  padding-left: 0;
}
.main a {
  text-decoration: none;
  color: inherit;
}
.main__navMenu {
  display: none;
  -webkit-clip-path: circle(0px at 95% 2.8em);
          clip-path: circle(0px at 95% 2.8em);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.168);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  text-align: center;
  color: #4B5053;
  transition: -webkit-clip-path 0.2s;
  transition: clip-path 0.2s;
  transition: clip-path 0.2s, -webkit-clip-path 0.2s;
}
.main__navMenu.visible {
  display: block;
}
.main__navMenu__list {
  list-style: none;
  min-width: 150px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: max(13.61vw, 70px) auto;
}
.main__navMenu__list > * {
  width: 100%;
}
.main__navMenu__close {
  position: absolute;
  width: 20px;
  height: 20px;
  font-weight: 300;
  top: 25px;
  right: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.main__navMenu__close:hover {
  cursor: pointer;
}
.main__navMenu__sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: max(13.61vw, 70px) auto 4.71vw;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.56em max(10px, 7.3vw);
  border-radius: 1.4vw;
}
.main__navMenu a {
  width: 100%;
  display: inline-block;
  color: inherit;
  margin-bottom: max(12px, 1.98vw);
  justify-content: center;
}
.main__navMenu a.--space-between {
  display: flex;
  justify-content: space-between;
}
.main__navMenu a:hover {
  text-decoration: underline;
}
.main__navMenu__back {
  font-weight: 600;
}
.main__navMenu__back:hover {
  cursor: pointer;
  text-decoration: underline;
}

.shoppingPage ~ .sidebar {
  flex: 1 0 15%;
  display: block;
}

.sidebar {
  display: none;
}
.sidebar__menu {
  height: max(2.41em, 5.37vh);
  margin-bottom: 29px;
}
.sidebar__list {
  position: relative;
  padding: 2em 0 0;
  list-style: none;
}
.sidebar__list__item {
  width: 75%;
  margin: 0 auto 15px;
  color: #4B5053;
  border: 1px solid transparent;
}
.sidebar__list__item.current {
  font-weight: 600;
  color: #FEF6FF;
  background: rgba(255, 255, 255, 0.35);
  border-radius: max(5px, 0.32vw);
}
.sidebar__list__link {
  display: inline-block;
  width: 100%;
  padding: 0.3em 1.25em;
  text-align: center;
  color: inherit;
  font-size: clamp(15px, 1.24vw, 2em);
}

.content {
  flex: 1 1 85%;
  order: 2;
  max-width: 100%;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}
.content.shoppingPage {
  max-width: 85%;
  margin-left: 0;
}
.content.shoppingPage .backBtn {
  display: none;
}
.content__header {
  position: relative;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content -webkit-max-content;
  grid-template-columns: min-content 1fr min-content max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  margin-bottom: 29px;
  align-items: center;
}
.content__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  background: rgba(246, 250, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 30px;
  padding: 0 max(15px, 3.6vw);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.content__main::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.content__main.bookDetails {
  padding: max(10px, 3vw) max(15px, 3.6vw);
}

@media (max-width: 1024px) {
  .shoppingPage ~ .sidebar {
    flex: 1 0;
    min-width: 2.5em;
    display: grid;
  }
  .content.shoppingPage {
    max-width: 95%;
  }
  .sidebar {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
  .sidebar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    margin-top: 12vw;
    padding: 20px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.55);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  .sidebar__listCont {
    align-self: stretch;
  }
  .sidebar__list__item {
    margin: 0 0 15px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .sidebar__list__item.current {
    background: none;
    color: #62a9f7;
    font-weight: 500;
  }
  .sidebar__list__link {
    box-sizing: border-box;
    padding: 0 1.04vw 0 0.65vw;
  }
  .sidebar .--deactivate {
    display: none;
  }
}
@media (max-width: 768px) {
  .main {
    padding-left: 2em;
    overflow: hidden;
  }
  .main__navMenu {
    display: block;
  }
  .content {
    margin-left: 0;
  }
  .content.shoppingPage {
    max-width: 100%;
  }
  .shoppingPage ~ .sidebar, .shoppingPage ~ .backTabCont {
    display: none;
  }
  .main__navMenu.active {
    display: block;
  }
  .main__navMenu.visible {
    -webkit-clip-path: circle(1000px at 95% 2.8em);
            clip-path: circle(1000px at 95% 2.8em);
    transition: all 0.35s;
  }
}
@media (max-width: 464px) {
  .main {
    padding: 24px 16px 16px;
  }
}/*# sourceMappingURL=main.css.map */